{% extends 'base.html' %}
{% block meta %}
{{ block.super }}
{% endblock %}
{% block title %}
{{ page.title }}
{% endblock %}

{% block content %}
<div class="header-section" style='background-image: url("{{ page.background_image.url }}"); background-size: cover; background-position: center; min-height: 100vh;'>
    <h1 class="display-2" style="width: 80%; color: #fff;" data-aos="fade-down">{{ page.title }}</h1>
    <center>
        <h2> <a href="#{{ page.title }}" style="text-decoration: none; color: #fff;">
        <i class="fa-solid fa-caret-down"></i>
    </a>
    </h2>
    </center>
</div>
<div style="width: 90%; height: auto; margin: auto;" id="{{ page.title }}">
<div class="content-blog" data-aos="fade-up">
    {{ page.content|safe }}
</div>
</div>
{% endblock %}